// Variables
$main-text: #fff;
$main-background: #adf;
$light: #d3d3dd;
$dark: #35424a;
$accent: #00f;
$showcase-accent: #0a0;
$showcase-background: url('../img/showcase.png');

body {
  background-color: $main-background;
  font: 16px/1.5 Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  overflow: hidden;
  width: 80%;
}

ul {
  margin: 0;
  padding: 0;
}

header {
  background-color: $dark;
  border-bottom: $accent 3px solid;
  color: $main-text;
  min-height: 70px;
  padding-top: 30px;

  a {
    color: $main-text;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
  }

  li {
    display: inline;
    padding: 0 20px;
  }

  .branding {
    float: left;

    h1 {
      margin: 0;
    }
  }

  nav {
    float: right;
    margin-top: 10px;
  }

  .current {
    color: $accent;
    font-weight: bold;
  }
}

.showcase {
  background: $dark $showcase-background no-repeat;
  background-size: cover;
  color: $main-text;
  min-height: 400px;
  text-align: center;

  h1 {
    font-size: 55px;
    margin-bottom: 10px;
    margin-top: 100px;
  }

  p {
    font-size: 20px;
  }
}

.boxes {
  color: $dark;
  margin-top: 20px;

  a {
    color: $dark;
  }

  .box {
    float: left;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 30%;

    img {
      height: 90px;
    }
  }
}

.main-col {
  border: 2px solid $accent;
  float: left;
  margin: 10px 0;
  padding: 15px;
  width: 80%;

  li {
    margin-left: 10px;
    text-indent: 5px;
  }
}

.light {
  background-color: $light;
}

.dark {
  background-color: $dark;
  color: $main-text;

  a {
    color: $main-background;
  }
}

.portfolio {
  .container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(3, 1fr);
    min-height: 50vh;
    padding-top: 10px;
  }

  .project {
    border: 1px solid $accent;
    text-align: center;

    &:nth-child(odd) {
      background: $dark;
      color: $main-text;
    }

    &:nth-child(even) {
      background: $light;
    }

    &.large {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
}

footer {
  background-color: $accent;
  color: $main-text;
  margin-top: 20px;
  padding: 20px;
  text-align: center;

  a {
    color: $main-background;
  }
}

@media(max-width: 768px) {
  header {
    padding-bottom: 20px;

    .branding {
      float: none;
      text-align: center;
      width: 100%;
    }

    nav {
      float: none;
      text-align: center;
      width: 100%;

      li {
        float: none;
        text-align: center;
        width: 100%;
      }
    }
  }

  .boxes {
    .box {
      float: none;
      text-align: center;
      width: 100%;
    }
  }

  .container,
  .main-col {
    float: none;
    margin: 10px 0;
    text-align: center;
    width: 100%;
  }

  .showcase {
    h1 {
      margin-top: 40px;
    }
  }

  .portfolio {
    .container {
      display: block;
    }
  }
}
