body {
  margin: 0;
  --cobalt-background: #1E3548;
  --cobalt-foreground: #9DDEE0;
}

.main-column {
  width: 80%;
  max-width: 640px;
  margin: 2rem auto;
}

header, section, footer {
  margin-bottom: 2rem;
}

h1 {
  text-align: center;
}

p {
  margin: 0.5em 0;
}

body.cobalt {
  background-color: var(--cobalt-background);
  color: var(--cobalt-foreground);
}

body.full-height {
  height: 100%;
}
