body {
  margin: 0;
  font-family: sans-serif;
  --cobalt-background: #1E3548;
  --cobalt-foreground: #9DDEE0;
  --cobalt-secondary: #1F8FF8;
  --background: white;
  --foreground: black;
  --secondary: blue;
  background-color: var(--background);
  color: var(--foreground);
}

.main-column {
  width: 80%;
  max-width: 640px;
  margin: 2rem auto;
}

header, section, footer {
  margin-bottom: 2rem;
}

h1 {
  text-align: center;
}

p {
  margin: 0.5em 0;
}

.cobalt {
  --background: var(--cobalt-background);
  --foreground: var(--cobalt-foreground);
  --secondary: var(--cobalt-secondary);
}

.full-height,
.full-height body {
  height: 100%;
}

.centered-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.centered-column > * {
  margin-top: 0;
}

.back-button {
  position: fixed;
  left: 1rem;
  top: 1rem;
  width: 64px;
  height: 64px;
  opacity: 0;
  transition: opacity 0.5s;
}
.back-button::before,
.back-button::after {
  display: block;
  content: '';
  background-color: var(--secondary);
  border-radius: 3px;
  width: 32px;
  height: 6px;
  transform-origin: center left;
  transition: box-shadow 0.5s;
  box-shadow: 0px 0px 0px #0003;
}
.back-button::before {
  transform: translate(16px, 30px) rotate(-45deg);
}
.back-button::after {
  transform: translate(16px, 21px) rotate(45deg);
}
.back-button:hover {
  opacity: 1;
}
.back-button:hover::before,
.back-button:hover::after {
  box-shadow: 2px 3px 3px #0003;
}

.big-text {
  font-size: 2em;
}
.big-text input {
  font-size: 1.2rem;
}

.fade-in {
  animation: 1s fade-in ease-out;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.two-col-table {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 1em;
}
