body {
  margin: 0;
  font-family: sans-serif;
  --cobalt-background: #1E3548;
  --cobalt-foreground: #9DDEE0;
}

.main-column {
  width: 80%;
  max-width: 640px;
  margin: 2rem auto;
}

header, section, footer {
  margin-bottom: 2rem;
}

h1 {
  text-align: center;
}

p {
  margin: 0.5em 0;
}

.cobalt {
  background-color: var(--cobalt-background);
  color: var(--cobalt-foreground);
}

.full-height,
.full-height body {
  height: 100%;
}

.centered-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.centered-column > * {
  margin-top: 0;
}

.big-text {
  font-size: 2em;
}
