@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
}


/* Colorful */
:root {
  --accent: #0af;
  --accent-dark: #07c;
  --dark-text: #000;
  --normal-text: #333;
  --light-text: #777;
  --shadow: #000a;
  --font-a: 'Roboto Mono', sans-serif;
  --font-b: 'Roboto', sans-serif;
}

/* Layout and Components */
header,
.container {
  margin: 5rem auto;
  max-width: 1024px;
  width: 90%;
}

header h1 {
  margin-bottom: 0.7em;
}

.contact {
  margin-top: 0.7rem;
}
.contact a {
  display: inline-block;
  margin: -0.5rem;
  padding: 0.5rem 0.6rem;
}

.progress-wrapper {
  --size: 50px;

  margin: auto;
  width: var(--size);
  height: var(--size);
}
.progress {
  width: var(--size);
  height: var(--size);
  border: 3px solid var(--accent);
  border-bottom-color: transparent;
  border-radius: calc(var(--size) / 2);
  box-sizing: border-box;

  animation: fade-in 3s, spin 1s infinite;
  animation-timing-function: ease, linear;
}
.hide {
  display: none;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes spin {
  from { transform: rotate(0); }
  to { transform: rotate(360deg); }
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 2rem;
}

.card {
  border-radius: 0.2rem;
  box-shadow: 0 3px 7px var(--shadow);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.card-content {
  flex-grow: 1;
}

.card-content p {
  margin-top: 0.7rem;
}

.card-content .right {
  float: right;
}

.card-action {
  margin-top: 0.7rem;
  text-align: right;
}
.card-action a {
  margin: -1rem 0;
  padding: 1rem 0.5rem;
}

@media (max-width: 720px) {
  .project-grid {
    grid-template-columns: 1fr;
  }

  .card-content .right {
    display: none;
  }
}

footer .container {
  margin: 1rem auto;
}


/* Typography */
body {
  font-family: var(--font-a);
  color: var(--normal-text);
}

header {
  font-family: var(--font-b);
  font-size: 1.5rem;
}

header h1 {
  color: var(--dark-text);
  font-weight: 300;
  text-decoration: underline;
  text-decoration-color: var(--accent);
}

.contact {
  font-family: var(--font-a);
  font-size: 1.1rem;
}
.contact a {
  text-transform: none;
  font-size: 1.2rem;
}

.card-title {
  color: var(--dark-text);
  font-size: 1.2rem;
  text-transform: lowercase;
}

.card-content .fork-icon:after {
  color: var(--light-text);
  content: ' (fork)';
}

.card-content .right {
  color: var(--light-text);
}
.card-content .right:before {
  content: 'updated ';
}

.card-action a {
  text-decoration: none;
}

a {
  color: var(--accent-dark);
  text-transform: uppercase;
}
a:focus {
  color: var(--dark-text);
  outline: none;
  box-shadow: inset 0 0 0 5px var(--accent);
}
a:hover {
  color: var(--accent-dark);
}
