.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1.5rem;
}

.project-grid .progress-wrapper {
  grid-column: 1 / 3;
  padding: 0 20%;
}

.fork-icon {
  font-size: 1em;
  padding-left: 0.5em;
}

@media (max-width: 992px) {
  .project-grid {
    display: block;
  }
}
