@import "tailwindcss";

@theme {
  /* https://m1.material.io/style/color.html#color-color-tool */
  --color-*: initial;
  --color-black: #000000;
  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #eeeeee;
  --color-gray-400: #bdbdbd;
  --color-gray-500: #9e9e9e;
  --color-gray-700: #616161;
  --color-gray-900: #212121;
  --color-gray-950: #1a1a1a;
  --color-blue-300: #64b5f6;
  --color-blue-500: #2196f3;
  --color-blue-700: #1976d2;

  --text-*: initial;
  --text-sm: 16px;
  --text-base: 18px;
  --text-lg: 28px;
  --text-xl: 32px;
  --text-xxl: 56px;

  --font-*: initial;
  --font-sans: "Roboto", sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;

  --shadow-*: initial;
  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 25%);
  --shadow-md: 0 4px 8px rgba(0, 0, 0, 25%);
  --inset-shadow-*: initial;
  --inset-shadow-md: 0 4px 4px rgba(0, 0, 0, 10%) inset;
}
