@import "tailwindcss";
@import "@catppuccin/palette/css/catppuccin.css";

@theme {
  /* https://m1.material.io/style/color.html#color-color-tool */
  --color-*: initial;
  --color-pink: var(--ctp-latte-pink);
  --color-red: var(--ctp-latte-red);
  --color-yellow: var(--ctp-latte-yellow);
  --color-green: var(--ctp-latte-green);
  --color-cyan: var(--ctp-latte-teal);
  --color-light-blue: var(--ctp-latte-sapphire);
  --color-blue: var(--ctp-latte-blue);
  --color-text: var(--ctp-latte-black);
  --color-text2: var(--ctp-latte-subtext0);
  --color-border: var(--ctp-latte-surface0);
  --color-base: var(--ctp-latte-base);
  --color-mantle: var(--ctp-latte-mantle);

  --font-*: initial;
  --default-font-family: "IBM Plex Mono", monospace;
  --font-weight-regular: 400;
  --font-weight-bold: 600;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-pink: var(--ctp-mocha-pink);
    --color-red: var(--ctp-mocha-red);
    --color-yellow: var(--ctp-mocha-yellow);
    --color-green: var(--ctp-mocha-green);
    --color-cyan: var(--ctp-mocha-teal);
    --color-light-blue: var(--ctp-mocha-sapphire);
    --color-blue: var(--ctp-mocha-blue);
    --color-text: var(--ctp-mocha-text);
    --color-text2: var(--ctp-mocha-subtext0);
    --color-border: var(--ctp-mocha-surface0);
    --color-base: var(--ctp-mocha-base);
    --color-mantle: var(--ctp-mocha-mantle);
  }
}

pre {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
