:root {
  --background-only: var(--color-gray-50);
  --background-mid: var(--color-gray-50);
  --background-back: var(--color-gray-100);
  --foreground: var(--color-gray-900);
  --foreground-dim: var(--color-gray-700);
  --primary: var(--color-blue-500);
  --primary-bold: var(--color-blue-700);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-only: var(--color-black);
    --background-mid: var(--color-gray-900);
    --background-back: var(--color-gray-950);
    --foreground: var(--color-gray-200);
    --foreground-dim: var(--color-gray-400);
    --primary: var(--color-blue-500);
    --primary-bold: var(--color-blue-300);
  }
}

section {
  margin-top: 64px;
}

h2 {
  margin-top: 32px;

  color: var(--primary);
  font-weight: 400;
  font-size: 32px;
}

h2 .small {
  color: var(--foreground);
  font-weight: 300;
  font-size: 18px;
}

@media (max-width: 815px) {
  h2 svg {
    width: 24px;
    height: 24px;
  }
}

h2 svg {
  display: inline-block;
}

h2 svg path {
  fill: var(--foreground-dim);
}

h2 a {
  text-decoration: none;
}

p {
  margin-top: 20px;
  margin-bottom: 24px;
}

p:last-child {
  margin-bottom: 0;
}

.badge {
  display: inline-block;
  padding: 0 5px;

  border: 1px solid var(--color-gray-500);
  border-radius: 100px;

  color: var(--foreground-dim);
  font-weight: 400;
  font-size: 16px;
}

picture img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 25%);
}
