---
import Head from './Head.astro';
import '../styles/index.css';

const { ...props } = Astro.props;
---

<html>
  <head>
    <meta charset="utf-8" />
    <Head />
  </head>
  <body>
    <slot />
  </body>
</html>
