---
import Head from "./Head.astro";

import "../styles/global.css";
import "../styles/index.css";
---

<html>
  <head>
    <meta charset="utf-8" />
    <Head />
  </head>
  <body
    class="bg-gray-50 font-sans text-base font-light text-gray-900 md:bg-gray-100 dark:bg-black dark:text-gray-200 md:dark:bg-gray-950"
  >
    <slot />
  </body>
</html>
